@model FoodData.Recipe
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<form method="post" action="">
    <input type="hidden" value="@Model.ID" name="ID" />
    <div class="row">
        <div class="col-sm-2">
            <b>Название:</b>
        </div>
        <div class="col-sm-5">
            <input type="text" name="Name" value="@Model.Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <b>Вес:</b>
        </div>
        <div class="col-sm-5">
            <input type="text" name="TotalWeight" value="@Model.TotalWeight" />
        </div>
    </div>
    <h3>Список ингредиентов</h3>
    <table>
        <thead>
            <tr class="row">
                <td class="col-sm-5"><b>Название</b></td>
                <td class="col-sm-1"><b>Вес Ингредиента</b></td>
            </tr>
        </thead>
        <tbody class="rows" id="details">
            @for (var i = 0; i < Model.Ingredients.Count; i++)
            {
                <tr class="row">
                    <td class="col-sm-5"><input type="number" id="Ingredients[@i].IngredientID" name="Ingredients[@i].IngredientID" value="@Model.Ingredients[i].IngredientID" /></td>
                    <td class="col-sm-1"><input type="number" name="Ingredients[@i].IngredientWeight" value="@Model.Ingredients[i].IngredientWeight" /></td>
                </tr>
                <script type="text/javascript">
                    $(function () {
                        $("#Ingredients[@i].IngredientID").autocomplete({
                            source: "/Recipe/SearchIngredient",
                            minLength: 3,
                            select: function (event, ui) {
                                if (ui.item) {
                                    $("#Ingredients[@i].IngredientID").val(ui.item.value);
                                }
                            }
                        });
                    });
                </script>
            }
        </tbody>
    </table>

    <input type="submit" value="Сохранить" />
</form>


