@model IEnumerable<FoodData.Recipe>

@foreach (FoodData.Recipe r in Model)
{
    <tr class="row">
        <td class="col-sm-5">@r.Name</td>
        <td class="col-sm-1">@r.TotalWeight</td>
        <td class="col-sm-1">@r.TotalProteins</td>
        <td class="col-sm-1">@r.TotalFats</td>
        <td class="col-sm-1">@r.TotalCarbohydrates</td>
        <td class="col-sm-1">@r.TotalEnergy</td>
        <td class="col-sm-1"><a href="/Recipe/EditRecipe/@r.ID">Изменить</a></td>
    </tr>
}
